* {
	border: solid black 2px;
}

#green {
	background-color: green;
	color: green;
}

#red {
	background-color: red;
	color: red;
}

#yellow {
	background-color: yellow;
	color: yellow;
}

#blue {
	background-color: blue;
	color: blue;
}
